 
  .icon{
    cursor: pointer;
  }
  
  .tachado{
    text-decoration: line-through;
  }

.list{
  max-width: 500px;
}

.card-styles{
  width: 500px;
}


@media (max-width: 500px){
  .card-styles{
    width: 90vw;
  }
}
